@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-surface: #181818;
  --color-primary: #1DB954;
  --color-textPrimary: #FFFFFF;
  --color-textSecondary: #B3B3B3;
}

@layer base {
  body {
    @apply bg-background text-textPrimary antialiased selection:bg-primary selection:text-white;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-surface/80 backdrop-blur-md border border-white/5 rounded-xl;
  }
}